/* リキッドレイアウト対応 */

body {
	background-color: #E9F6F8;
	color: #4A3636;
	font-family: "Noto Sans jp", serif;
	position: relative;
}

.u-desktop {
	display: none;
}

.main {
	overflow: hidden;
}

html {
	font-size: 16px;
}

/* pcの電話番号発信対応 */

/* ホバー */

a {
	color: inherit;
	text-decoration: none;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
	padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */

html {
	scroll-behavior: smooth;
}

/* Set core body defaults */

body {
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
	list-style: none;
}

/* A elements that don't have a class get default styles */

/* Make images easier to work with */

img {
	display: block;
	max-width: 100%;
	width: 100%;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */

/* フォームリセット */

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
	padding: 0;
}

textarea {
	resize: vertical;
}

input[type=checkbox],
input[type=radio] {
	opacity: 0;
	position: absolute;
}

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

fieldset,
legend {
	border: none;
	margin: 0;
	padding: 0;
}

.about {
	padding-bottom: 64px;
	padding-bottom: 4rem;
	position: relative;
}

.about_bg {
	position: relative;
}

.about_contents {
	background-color: #fff;
	border-radius: 24px;
	margin: 0 auto;
	max-width: 335px;
	padding: 40px 0;
	padding: 2.5rem 0;
	position: relative;
	text-align: center;
}

.about_contents::after {
	-webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
	background-color: #CCE1E4;
	bottom: -36px;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
	content: "";
	height: 36px;
	left: calc(50% - 50px);
	position: absolute;
	width: 100px;
}

.about_inner {
	padding: 0 20px;
	padding: 0 1.25rem;
}

.about_bg_1 {
	left: calc(50% + 134px);
	position: absolute;
	top: -10px;
	width: 54px;
	width: 3.375rem;
	z-index: -10;
}

.about_bg_2 {
	border-radius: 24px;
	position: absolute;
	right: calc(50% + 127px);
	top: 375px;
	width: 200px;
	width: 12.5rem;
	z-index: -10;
}

.about_bg_3 {
	border-radius: 24px;
	left: calc(50% + 127px);
	position: absolute;
	top: 160px;
	width: 200px;
	width: 12.5rem;
	z-index: -10;
}

.about_bg_4 {
	border-radius: 24px;
	display: none;
	height: 250px;
	position: absolute;
	width: 250px;
	z-index: -15;
}

.about_head {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-left: 33px;
	padding-right: 20px;
}

.about_image {
	height: 60px;
	height: 3.75rem;
	width: 80px;
	width: 5rem;
}

.about_subtitle {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.6;
	margin: 24px auto 0;
	margin: 1.5rem auto 0;
	text-align: center;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
}

.about_text {
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 24px;
	margin-top: 1.5rem;
	text-align: center;
}

.about_text a {
	text-decoration: underline;
}

.about_text a:hover {
	color: #67B0C7;
}

.about_text span {
	font-weight: bold;
}

.about_text + p {
	border-bottom: 2px #9ED0E0 dashed;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.6;
	margin: 24px auto 0;
	margin: 1.5rem auto 0;
	padding-bottom: 6px;
	text-align: center;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
}

.about_bottom {
	padding-top: 175px;
	padding-top: 10.9375rem;
	position: relative;
}

.about_bottom_1 {
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 138px;
	width: 8.625rem;
	z-index: -15;
}

.about_bottom_2 {
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 48px;
	width: 3rem;
}

.about_bottom_3 {
	display: block;
	position: absolute;
	right: 70px;
	top: 60px;
	width: 133px;
	width: 8.3125rem;
	z-index: -10;
}

.about_bottom_4 {
	display: none;
	height: 45px;
	left: calc(50% + 330px);
	position: absolute;
	top: -300px;
	width: 873px;
	z-index: -10;
}

.about_bottom_5 {
	display: block;
	margin: -35px auto 0;
	margin: -2.1875rem auto 0;
	width: 355px;
	width: 22.1875rem;
}

.button {
	background-color: #fff;
	border: 2px solid #4A3636;
	border: 0.125rem solid #4A3636;
	border-radius: 40px;
	-webkit-box-shadow: 0 4px 0 0 #4A3636;
	box-shadow: 0 4px 0 0 #4A3636;
	color: #4A3636;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.6;
	padding: 5px 20px;
	padding: 0.3125rem 1.25rem;
}

.button:hover {
	background-color: #FFEE56;
	opacity: 1;
}

.button_header {
	height: 36px;
	margin: auto;
}

.button_about {
	font-size: 16px;
	font-size: 1rem;
	margin-top: 24px;
	margin-top: 1.5rem;
	padding: 6px 24px 8px;
}

.button_wrap {
	text-align: center;
}

.button_how {
	font-size: 16px;
	font-size: 1rem;
	margin: 16px auto 0;
}

.button_prizes,
.button_spot {
	font-size: 16px;
	font-size: 1rem;
	margin: 24px auto 0;
}

.button_modal_close {
	margin-top: 16px;
}

.button_modal_close:focus {
	outline: 5px solid #9ED0E0;
}

.button_submit {
	margin-top: 24px;
}

.contact {
	background-color: #fff;
	padding-bottom: 40px;
	padding-top: 40px;
}

.contact_head {
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 24px;
	text-align: center;
}

.contact_form {
	margin: 24px auto 0;
	max-width: 500px;
}

.contact_form_label {
	display: block;
}

.contact_form_label:not(:first-child) {
	margin-top: 24px;
}

.contact_form_title {
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.6;
}

.contact_form_required {
	background-color: #CE2073;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1.6;
	margin-left: 12px;
	margin-left: 0.75rem;
	padding: 4px 8px;
	padding: 0.25rem 0.5rem;
}

input[type=text],
input[type=email] {
	background-color: #f5f5f5;
	border-radius: 8px;
	color: #4A3636;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 8px;
	max-width: 600px;
	padding: 16px;
	padding: 1rem;
	width: 100%;
}

input[type=text]:focus,
input[type=email]:focus {
	outline: 2px solid #9ED0E0;
}

input[type=checkbox]:focus + span::before,
input[type=radio]:focus + span::before {
	outline: 2px solid #9ED0E0;
}

input[type=text]::-moz-placeholder,
input[type=email] ::-moz-placeholder {
	color: #ccc;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.6;
}

input[type=text]::-webkit-input-placeholder,
input[type=email] ::-webkit-input-placeholder {
	color: #ccc;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.6;
}

input[type=text]::-moz-placeholder,
input[type=email] ::-moz-placeholder {
	color: #ccc;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.6;
}

input[type=text]::-ms-input-placeholder,
input[type=email] ::-ms-input-placeholder {
	color: #ccc;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.6;
}

input[type=text]::placeholder,
input[type=email] ::placeholder {
	color: #ccc;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.6;
}

select:focus {
	outline: 2px solid #9ED0E0;
}

select {
	background-color: #f5f5f5;
	background-image: url(/assets/images/sp/Icon_down.svg), linear-gradient(to left, #9ed0e0 52px, #f5f5f5 52px);
	background-position: center right 10px, center center;
	background-repeat: no-repeat, no-repeat;
	border-radius: 8px;
	color: #4A3636;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 8px;
	max-width: 600px;
	padding: 16px;
	padding: 1rem;
	width: 100%;
}

input[type=radio] + span {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1;
	margin-top: 8px;
	padding: 5px 5px 5px 32px;
	position: relative;
	vertical-align: middle;
}

input[type=radio] + span::before {
	background-color: #f5f5f5;
	border-radius: 50%;
	content: "";
	height: 24px;
	left: 0;
	line-height: 1;
	position: absolute;
	top: 0;
	width: 24px;
}

input[type=radio]:checked + span::after {
	background-color: #3d98b4;
	border-radius: 50%;
	content: "";
	display: block;
	height: 12px;
	left: 6px;
	line-height: 1;
	position: absolute;
	top: 6px;
	width: 12px;
}

input[type=radio] + span::after {
	content: "";
	display: none;
}

.contact_radio_wrap {
	margin-top: 24px;
}

.contact_radio_title {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.6;
}

.contact_label_wrap label {
	display: inline-block;
}

.contact_label_wrap label:first-child {
	margin-right: 24px;
}

textarea {
	background-color: #f5f5f5;
	border-radius: 8px;
	color: #4A3636;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	height: 160px;
	line-height: 1.6;
	margin-top: 8px;
	padding: 16px;
	width: 100%;
}

input[type=checkbox] + span {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1;
	padding: 5px 5px 5px 36px;
	position: relative;
	vertical-align: middle;
}

.contact_checkbox_pp {
	text-decoration: underline;
}

input[type=checkbox] + span::before {
	background-color: #f5f5f5;
	border-radius: 4px;
	content: "";
	height: 24px;
	left: 0;
	line-height: 1;
	position: absolute;
	top: 0;
	vertical-align: middle;
	width: 24px;
}

input[type=checkbox]:checked + span::after {
	border-bottom: 3px solid #3d98b4;
	border-right: 3px solid #3d98b4;
	content: "";
	display: block;
	height: 15px;
	left: 8px;
	position: absolute;
	top: 3px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 7px;
}

input[type=checkbox] + span::after {
	content: "";
	display: none;
}

.contact_checkbox_wrap {
	margin-top: 24px;
	text-align: center;
}

input:focus:user-invalid,
textarea:focus:user-invalid {
	background-color: #fff0f7;
	outline: 2px solid #CE2073;
}

.js_input.is_error {
	background-color: #fff0f7;
	outline: 2px solid #CE2073;
}

.select.is_error {
	background-image: url(/assets/images/sp/Icon_down.svg), linear-gradient(to left, #ce2073 52px, #f5f5f5 52px);
}

.entry_inner {
	background: rgba(255, 255, 255, .5);
	border: 8px solid #fff;
	padding-top: 24px;
}

.entry_container {
	margin-top: 24px;
	padding: 0 23.5px 24px;
	padding: 0 1.46875rem 1.5rem;
}

.entry_list {
	border-bottom: 1px solid #ccc;
	padding-bottom: 16px;
}

.entry_list:not(:first-child) {
	margin-top: 12px;
}

.entry_list:last-child {
	border: none;
}

.entry_list_title {
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.6;
	padding-left: 16px;
	padding-left: 1rem;
	position: relative;
}

.entry_list_title + p {
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 8px;
}

.entry_list_title::before {
	background-color: #9ED0E0;
	border-radius: 50%;
	content: "";
	height: 8px;
	left: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 8px;
}

.entry_list_attention {
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
	letter-spacing: -0.5px;
	line-height: 1.6;
	padding-left: 16px;
	padding-left: 1rem;
	position: relative;
}

.entry_list_attention::before {
	content: "・";
	left: 0;
	position: absolute;
	top: 0;
}

.entry_bottom {
	display: block;
	margin-top: 32px;
}

.footer {
	padding-top: 40px;
}

.footer_head {
	font-family: "Josefin Sans", sans-serif;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
}

.footer_sns {
	gap: 40px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 24px;
}

.footer_sns img {
	height: 32px;
	width: 32px;
}

.footer_text_logo {
	margin-top: 9px;
}

.footer_map {
	margin-bottom: -5px;
}

.footer_map iframe {
	aspect-ratio: 335/271;
	border-radius: 12px 12px 0 0;
	height: auto;
	width: 100%;
}

.footer_info {
	background-color: #fff;
	border-radius: 0 0 12px 12px;
	padding: 24px;
	padding: 1.5rem;
}

.footer_info_contents {
	margin: 24px auto 0;
	max-width: 335px;
}

.footer_info_logo {
	margin: 0 auto;
	width: 153px;
}

.footer_info_row {
	gap: 16px;
	gap: 1rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer_info_row:not(:first-child) {
	margin-top: 8px;
}

.footer_info_dt {
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1.6;
	padding-left: 16px;
	position: relative;
	width: 22.8571428571vw;
}

.footer_info_dt::before {
	background-color: #9ED0E0;
	border-radius: 50%;
	content: "";
	height: 8px;
	left: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 8px;
}

.footer_info_dd {
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.6;
	width: 71.4285714286vw;
}

.footer_bottom {
	background-color: #67B0C7;
	color: #fff;
	font-size: 10px;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 171px;
	margin-top: 10.6875rem;
	padding-bottom: 24px;
	position: relative;
	text-align: center;
}

.footer_bottom::before {
	background: url(/assets/images/sp/bg_wavearea.svg) repeat-x center/contain;
	content: "";
	height: 46px;
	left: 0;
	position: absolute;
	top: -45px;
	top: -2.8125rem;
	width: 100%;
}

.to_top {
	bottom: 110px;
	bottom: 6.875rem;
	display: block;
	left: 50%;
	margin: 24px auto 0;
	position: absolute;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 75px;
	width: 4.6875rem;
}

.fv {
	padding-bottom: 200px;
	position: relative;
}

.fv_img {
	display: block;
	height: 554px;
	height: 34.625rem;
}

.fv_img img {
	-o-object-fit: cover;
	-o-object-position: bottom;
	border-radius: 0 0 2.5rem 2.5rem;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}

.fv_inner {
	left: 0;
	margin: 15px auto;
	padding: 0 20px;
	position: absolute;
	right: 0;
	top: 0;
	width: 375px;
	width: 23.4375rem;
}

.fv_text {
	font-family: "Kiwi Maru", serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.25;
	text-align: center;
}

.fv_title {
	margin-top: 20px;
}

.fv_title_bottom {
	display: block;
	margin: 15px auto 0;
	width: 240px;
	width: 15rem;
}

.fv_icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 15px;
}

.fv_icon_left {
	height: 80px;
	height: 5rem;
	width: 142px;
	width: 8.875rem;
}

.fv_icon_right {
	height: 110px;
	height: 6.875rem;
	margin-left: 50px;
	width: 110px;
	width: 6.875rem;
}

.fv_smartphone {
	margin: -10px auto 0;
	position: relative;
	width: 200px;
	width: 12.5rem;
}

.fv_box {
	background-color: #fff;
	border-radius: 8px;
	height: 154px;
	height: 9.625rem;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 160px;
	width: 10rem;
}

.fv_box_title {
	background: linear-gradient(-127deg, #AC3790 0%, #D65A5C 49%, #F4C06D 98%);
	border-radius: 8px 8px 0 0;
	color: #fff;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1.6;
	padding: 7px 0;
	text-align: center;
}

.fv_box_content {
	border-radius: 0 0 8px 8px;
	padding: 10px 13px;
	padding: 0.625rem 0.8125rem;
	text-align: center;
}

.fv_box_content span:nth-child(1) {
	border-bottom: 3px solid #CE2073;
	display: block;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.6;
	margin: auto;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
}

.fv_box_content span:nth-child(2) {
	display: block;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1.6;
	margin: 5px auto 15px;
}

.fv_bottom {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: -130px;
	margin-top: -8.125rem;
	position: relative;
}

.fv_bottom_left {
	width: 86px;
	width: 5.375rem;
}

.fv_bottom_right {
	width: 107px;
	width: 6.6875rem;
}

.header {
	background-color: #fff;
	height: 64px;
	width: 100%;
}

.header_inner {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 64px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 20px;
	padding: 0 1.25rem;
}

.header_logo {
	height: 27px;
	width: 210px;
}

.header_nav {
	display: none;
	height: 64px;
}

.header_nav_item {
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	height: 19px;
	line-height: 1.6;
	place-content: center;
	-webkit-transition: color 0.4s ease;
	transition: color 0.4s ease;
}

.header_nav_item:hover {
	border-bottom: 1px solid #67B0C7;
	color: #67B0C7;
}

.header_button_sp {
	display: block;
	height: 28px;
	position: relative;
	width: 32px;
}

.header_button_sp span {
	background: #4A3636;
	border-radius: 8px;
	display: block;
	height: 3px;
	position: absolute;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	width: 100%;
}

.header_button_sp span:nth-of-type(1) {
	top: 0px;
}

.header_button_sp span:nth-of-type(2) {
	top: 13px;
}

.header_button_sp span:nth-of-type(3) {
	top: 26px;
}

.header_button_sp.active span:nth-of-type(1) {
	top: 50%;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.header_button_sp.active span:nth-of-type(2) {
	opacity: 0;
}

.header_button_sp.active span:nth-of-type(3) {
	top: 50%;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.how {
	padding-bottom: 38px;
	position: relative;
}

.how_inner {
	margin: auto;
	max-width: 375px;
	padding: 0 20px;
	padding: 0 1.25rem;
	position: relative;
}

.how_bg_01 {
	display: block;
	left: -20px;
	position: absolute;
	top: 10px;
	width: 149px;
	width: 9.3125rem;
}

.how_bg_02 {
	display: block;
	position: absolute;
	right: 20px;
	top: 0;
	width: 105px;
	width: 6.5625rem;
}

.how_bg_03 {
	display: block;
	position: absolute;
	right: -30px;
	top: 5px;
	width: 94px;
	width: 5.875rem;
}

.how_bg_04 {
	display: block;
	position: absolute;
	right: 20px;
	right: 1.25rem;
	top: 100px;
	width: 55px;
	width: 3.4375rem;
}

.how_bg_05 {
	display: block;
	left: 20px;
	left: 1.25rem;
	position: absolute;
	top: 550px;
	width: 55px;
	width: 3.4375rem;
}

.how_bg_06 {
	bottom: 340px;
	display: block;
	position: absolute;
	right: 20px;
	right: 1.25rem;
	width: 55px;
	width: 3.4375rem;
}

.how_step_wrap {
	gap: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.how_step_wrap div:nth-child(2),
.how_step_wrap div:nth-child(3) {
	position: relative;
}

.how_step_wrap div:nth-child(2)::before {
	background: url(/assets/images/sp/img_step_line.png) no-repeat center center/cover;
	content: "";
	height: 34px;
	left: calc(50% - 7px);
	position: absolute;
	top: -35px;
	width: 7px;
}

.how_step_wrap div:nth-child(3)::before {
	background: url(/assets/images/sp/img_step_line.png) no-repeat center center/cover;
	content: "";
	height: 34px;
	left: calc(50% - 7px);
	position: absolute;
	top: -35px;
	width: 7px;
}

.how_step_image {
	margin: 0 auto 0;
	width: 196px;
	width: 12.25rem;
}

.how_step:first-child {
	margin-top: 32px;
	margin-top: 2rem;
}

.how_step {
	text-align: center;
}

.how_step h3 {
	font-weight: 700;
	line-height: 1.6;
	margin-top: 16px;
}

.how_step p {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 16px;
}

.how_onomichi_tabi {
	background-color: #fff;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: 1.6;
	margin-top: 16px;
	padding: 8px 12px 8px 40px;
	padding: 0.5rem 0.75rem 0.5rem 2.5rem;
	position: relative;
}

.how_onomichi_tabi::before {
	background: url(/assets/images/sp/Icon_insta.png) center/contain;
	content: "";
	height: 20px;
	left: 12px;
	left: 0.75rem;
	position: absolute;
	top: 9px;
	top: 0.5625rem;
	width: 20px;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.menu {
	background-color: #fff;
	display: none;
	height: 100vh;
	left: 0;
	overflow: scroll;
	padding: 20px;
	padding: 1.25rem;
	position: fixed;
	top: 64px;
	width: 100%;
	z-index: 1000;
}

.menu.active {
	display: block;
}

body.fixed-scroll {
	overflow: hidden;
}

html.fixed-scroll {
	overflow: hidden;
}

.menu_nav {
	gap: 40px;
	gap: 2.5rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 500px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.modal {
	background-color: rgba(0, 0, 0, .8);
	border: none;
	display: none;
	height: 100vh;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.modal_contents {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 336px;
	width: 21rem;
	z-index: 5;
}

.modal_image {
	display: block;
	height: 210px;
	width: 100%;
}

.modal_image img {
	-o-object-fit: cover;
	border-radius: 8px 8px 0 0;
	height: 210px;
	object-fit: cover;
}

.modal_body {
	background-color: #fff;
	border-radius: 0 0 8px 8px;
	padding: 39px 20px 56px;
	text-align: center;
}

.modal_title {
	color: #4A3636;
	font-size: 16px;
	font-weight: bold;
}

.modal_text {
	font-size: 12px;
	margin-top: 12px;
}

.prizes {
	padding-top: 82px;
	position: relative;
}

.prizes::before {
	background: url(/assets/images/pc/img_bg_triangle.png) no-repeat center center/cover;
	content: "";
	display: none;
	height: 86px;
	position: absolute;
	right: calc(50% + 200px);
	top: 30px;
	width: 315px;
}

.prizes::after {
	background: url(/assets/images/pc/img_bg_triangle2.png) no-repeat center center/cover;
	content: "";
	display: none;
	height: 86px;
	left: calc(50% + 200px);
	position: absolute;
	top: 30px;
	width: 315px;
}

.prizes_inner {
	background-color: #fff;
	border-radius: 24px;
	margin: 0 auto;
	max-width: 700px;
	padding: 65px 20px 35px;
	position: relative;
}

.prizes_inner::before {
	background: url(/assets/images/sp/deco_prizes1_sp.svg) no-repeat center center/cover;
	content: "";
	height: 83px;
	height: 5.1875rem;
	left: 50%;
	position: absolute;
	top: -82px;
	top: -5.125rem;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 237px;
	width: 14.8125rem;
}

.prizes_head {
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.6;
	text-align: center;
}

.prizes_container {
	-moz-column-gap: 15px;
	row-gap: 39px;
	-webkit-column-gap: 15px;
	column-gap: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 48px;
}

.prizes_card {
	border-radius: 8px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.6;
	position: relative;
	text-align: center;
	width: calc(50% - 7.5px);
}

.prizes_card_button:hover {
	border: 5px solid #9ED0E0;
}

.prizes_card:hover::after {
	opacity: 0.8;
}

.prizes_card_number {
	height: 48px;
	left: 50%;
	position: absolute;
	top: -24px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 48px;
	z-index: 10;
}

.prizes_card_body {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f5f5f5;
	border-radius: 0 0 8px 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 56px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 9px;
}

.prizes_card::after {
	background: url(/assets/images/sp/img_prizes_zoom.svg) no-repeat center center/cover;
	border-radius: 0 0 8px 0;
	bottom: 0;
	content: "";
	height: 36px;
	position: absolute;
	right: 0;
	width: 36px;
}

.prizes_card_button {
	border-radius: 12px;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}

.prizes_card_image {
	border-radius: 8px 8px 0 0;
	display: block;
	overflow: hidden;
}

.prizes_card_image img {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.prizes_card:hover .prizes_card_image img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.prizes_bg {
	margin-top: -44px;
}

.prizes_bg_image {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.prizes_bg_image img {
	min-width: 580px;
}

.accordion {
	margin: 24px auto 0;
	max-width: 600px;
	padding-bottom: 30px;
}

.accordion_list + .accordion_list {
	margin-top: 12px;
}

.accordion_list {
	border: 2px solid #4A3636;
	border-radius: 12px;
	overflow: hidden;
}

.accordion_area {
	gap: 12px;
	gap: 0.75rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	border-radius: 12px 12px 0 0;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 12px 16px;
	padding: 0.75rem 1rem;
	width: 100%;
}

.accordion_area:focus {
	border: 2px solid #67B0C7;
	border-radius: 10px;
}

.accordion_q {
	color: #9ED0E0;
	display: block;
	font-family: "Josefin Sans", sans-serif;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.25;
}

.accordion_title {
	color: #4A3636;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.6;
	text-align: left;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion_toggle {
	background-color: #9ED0E0;
	border-radius: 50%;
	display: block;
	height: 26px;
	height: 1.625rem;
	margin-left: auto;
	position: relative;
	width: 26px;
	width: 1.625rem;
}

/* ＋部分 */

.accordion_toggle::before,
.accordion_toggle::after {
	background-color: #fff;
	border-radius: 50px;
	content: "";
	height: 2px;
	position: absolute;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	width: 10px;
}

.accordion_toggle::before {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(90deg);
	transform: translate(-50%, -50%) rotate(90deg);
}

.accordion_toggle::after {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.accordion_toggle.close::before {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* 開く部分 */

.accordion_box {
	display: none;
	padding: 16px;
	padding: 1rem;
}

.accordion_box_contents {
	gap: 16px;
	gap: 1rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.accordion_a {
	color: #9ED0E0;
	font-family: "Josefin Sans", sans-serif;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.25;
}

.accordion_answer {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.6;
}

.section_title {
	text-align: center;
}

.section_title_image {
	display: inline-block;
	height: 37px;
	width: 37px;
}

.section_title_en {
	display: block;
	font-family: "Courgette", cursive;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25;
}

.section_title_jp {
	border-bottom: 6px solid #FFEE56;
	font-family: "Kiwi Maru", serif;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.25;
	margin: 6px auto 0;
	padding-bottom: 6px;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
}

.section_title_about {
	margin-top: -44px;
}

.section_title_prizes {
	background-color: transparent;
	left: 50%;
	position: absolute;
	top: -65px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.section_title_qa {
	margin-top: 83px;
}

.spot {
	position: relative;
}

.spot::before {
	background: url(/assets/images/sp/wave.svg) repeat-x center/contain;
	content: "";
	height: 45.7px;
	height: 2.85625rem;
	left: 0;
	position: absolute;
	top: -44.7px;
	top: -2.79375rem;
	width: 100%;
}

.spot::after {
	background: url(/assets/images/sp/bg_pic_bottom.svg) repeat-x center/contain;
	bottom: -43px;
	bottom: -2.6875rem;
	content: "";
	height: 45px;
	height: 2.8125rem;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.spot_container {
	background-color: #67B0C7;
	padding-bottom: 20px;
}

.spot_slider_wrap {
	position: relative;
}

.spot_title {
	color: #fff;
	font-family: "Kiwi Maru", serif;
	font-size: 28px;
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.25;
	margin: 0 auto;
	padding-left: 36px;
	position: relative;
	text-align: center;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
}

.spot_title::before {
	background: url(/assets/images/sp/star.svg) no-repeat center center/cover;
	content: "";
	height: 28px;
	left: 0px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 28px;
}

.spot_slider {
	margin-top: 24px;
}

.spot_slide {
	background-color: #fff;
	border-radius: 12px;
}

.spot_slide img {
	border-radius: 12px 12px 0 0;
}

.spot_name {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.6;
	margin-top: 16px;
	text-align: center;
}

.spot_text {
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
	height: 191px;
	height: 11.9375rem;
	line-height: 1.6;
	padding: 16px 24px;
	padding: 1rem 1.5rem;
}

.spot_bg::after {
	background: url(/assets/images/pc/img_bg_pawpads.svg) no-repeat center center/cover;
	content: "";
	height: 220px;
	position: absolute;
	right: calc(50% + 590px);
	top: -80px;
	width: 100px;
}

.spot_bg_image {
	margin: 0 auto;
	width: 254px;
	width: 15.875rem;
}

.spot_bottom_text {
	color: #fff;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 16px;
	text-align: center;
}

.spot_wave_bottom {
	bottom: -44px;
	bottom: -2.75rem;
	left: 0;
	position: absolute;
	right: 0;
}

.swiper {
	width: 100%;
}

.swiper-wrapper {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}

.swiper-slide {
	width: 100px;
}

.swiper-button-box {
	display: none;
}

.swiper-button-prev {
	bottom: -30px;
	height: 80px;
	left: -50px;
	position: static;
	top: auto;
	width: 80px;
}

.swiper-button-next {
	bottom: -30px;
	height: 80px;
	left: 55%;
	position: static;
	top: auto;
	width: 80px;
}

@media screen and (min-width: 700px) {

html {
	font-size: 2.2857142857vw;
}

a[href^="tel:"] {
	pointer-events: none;
}

a:hover {
	opacity: 0.8;
}

.about_contents {
	max-width: 450px;
	padding: 40px 60px;
}

.about_bg_1 {
	left: calc(50% + 190px);
	top: -30px;
	width: 70px;
}

.about_bg_2 {
	right: calc(50% + 180px);
	top: 320px;
}

.about_bg_3 {
	left: calc(50% + 180px);
}

.about_head {
	padding: 0;
}

.about_bottom_1 {
	left: -20px;
	top: -200px;
	width: 200px;
}

.about_bottom_2 {
	left: calc(50% + 280px);
	top: -100px;
	width: 101px;
}

.about_bottom_3 {
	left: calc(50% + 180px);
	top: 20px;
	width: 200px;
}

.fv_inner {
	margin: 34px auto;
	padding: 0;
	width: 400px;
}

.fv_icon {
	gap: 50px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.fv_icon_right {
	margin-left: 0;
}

.inner {
	max-width: 750px;
	padding-left: 25px;
	padding-right: 25px;
}

.swiper_spot {
	margin-left: auto;
	overflow: hidden;
}

}

@media (min-width: 700px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 900px) {

.u-desktop {
	display: block;
}

.u-mobile {
	display: none;
}

.about {
	padding-bottom: 90px;
}

.about_contents {
	max-width: 620px;
	padding: 40px 30px;
}

.about_contents::after {
	bottom: -50px;
	height: 50px;
	width: 140px;
}

.about_bg_1 {
	left: calc(50% + 250px);
	top: -50px;
	width: 100px;
}

.about_bg_2 {
	border-radius: 38px;
	height: 340px;
	right: calc(50% + 380px);
	top: 74px;
	width: 340px;
}

.about_bg_3 {
	border-radius: 54px;
	height: 340px;
	left: calc(50% + 380px);
	top: 74px;
	width: 340px;
}

.about_bg_4 {
	display: block;
	height: 200px;
	right: calc(50% + 340px);
	top: -10px;
	width: 200px;
}

.about_image {
	height: 80px;
	width: 100px;
}

.about_subtitle {
	font-size: 16px;
}

.about_text {
	font-size: 16px;
}

.about_text + p {
	font-size: 20px;
}

.about_bottom_1 {
	left: auto;
	right: calc(50% + 200px);
	top: -500px;
	width: 427px;
}

.about_bottom_2 {
	left: calc(50% + 340px);
	top: -200px;
}

.about_bottom_3 {
	left: calc(50% + 250px);
	top: -40px;
}

.about_bottom_4 {
	display: block;
	left: calc(50% + 280px);
	top: -200px;
}

.about_bottom_5 {
	width: 550px;
}

.button {
	font-size: 16px;
	padding: 6px 22px;
}

.button_header {
	font-size: 14px;
	padding: 5px 20px;
}

.button_about {
	font-size: 20px;
	padding: 10px 40px 12px;
}

.button_how {
	font-size: 20px;
	margin: 40px auto 0;
	padding: 10px 40px;
}

.button_spot {
	font-size: 18px;
}

.button_prizes {
	margin-top: 40px;
}

.button_modal_close {
	margin-top: 24px;
}

.fv {
	padding-bottom: 177px;
}

.fv_img {
	height: 740px;
}

.fv_inner {
	width: 848px;
}

.fv_text {
	font-size: 24px;
}

.fv_title_top {
	margin: auto;
	width: 520px;
}

.fv_title_bottom {
	margin: 16px auto 0;
	width: 356px;
}

.fv_icon {
	display: block;
	height: 180px;
	position: relative;
}

.fv_icon_left {
	height: 130px;
	left: 38px;
	position: absolute;
	top: 0;
	width: 244px;
}

.fv_icon_right {
	height: 180px;
	position: absolute;
	right: 130px;
	top: 0;
	width: 180px;
}

.fv_smartphone {
	margin: -160px auto 0;
	width: 250px;
}

.fv_box {
	height: 194px;
	top: 49%;
	width: 200px;
}

.fv_box_title {
	font-size: 16px;
	padding: 8px 12px;
}

.fv_box_content {
	padding: 16px 12px 0;
}

.fv_box_content span:nth-child(1) {
	font-size: 14px;
}

.fv_box_content span:nth-child(2) {
	font-size: 16px;
}

.fv_bottom {
	display: block;
	margin-top: -250px;
}

.fv_bottom_left {
	left: 0;
	position: absolute;
	top: -60px;
	width: 202px;
}

.fv_bottom_right {
	position: absolute;
	right: 0;
	top: 15px;
	width: 233px;
}

.header_nav {
	gap: 12px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header_button_sp {
	display: none;
}

.how_inner {
	max-width: 1512px;
}

.how_bg_01 {
	left: auto;
	right: calc(50% + 280px);
	top: -45px;
	width: 420px;
	z-index: -5;
}

.how_bg_02 {
	left: calc(50% + 280px);
	right: auto;
	top: -40px;
	width: 238px;
}

.how_bg_03 {
	left: calc(50% + 425px);
	right: auto;
	top: -40px;
	width: 214px;
}

.how_bg_04 {
	left: calc(50% + 620px);
	right: auto;
	top: 145px;
	width: 100px;
}

.how_bg_05 {
	left: auto;
	right: calc(50% + 600px);
	width: 100px;
}

.how_bg_06 {
	display: none;
}

.how_step_wrap {
	gap: 32px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 40px;
}

.how_step_wrap div:nth-child(2)::before {
	background: url(/assets/images/pc/img_step_line.svg) no-repeat center center/cover;
	height: 24px;
	left: -96px;
	top: 140px;
	width: 113px;
}

.how_step_wrap div:nth-child(3)::before {
	background: url(/assets/images/pc/img_step_line.svg) no-repeat center center/cover;
	height: 24px;
	left: -88px;
	top: 205px;
	width: 113px;
}

.how_step_image {
	width: 280px;
}

.how_step:first-child {
	margin: 0;
}

.how_step:nth-child(2) {
	margin-top: 69px;
}

.how_step {
	max-width: 320px;
	width: 33.3%;
}

.how_step h3 {
	font-size: 18px;
	margin-top: 24px;
}

.how_onomichi_tabi {
	font-size: 16px;
}

.how_onomichi_tabi::before {
	height: 24px;
	width: 24px;
}

.modal_contents {
	width: 480px;
}

.modal_image {
	height: 300px;
}

.modal_image img {
	border-radius: 16px 16px 0 0;
	height: 300px;
}

.modal_body {
	border-radius: 0 0 16px 16px;
	height: 350px;
	padding: 32px 40px 64px;
}

.modal_title {
	font-size: 20px;
}

.modal_text {
	font-size: 16px;
}

.prizes {
	margin-top: 100px;
	padding-top: 148px;
}

.prizes::before {
	display: block;
	right: calc(50% + 150px);
}

.prizes::after {
	display: block;
	left: calc(50% + 150px);
}

.prizes_inner {
	max-width: 900px;
	padding: 65px 20px 53px;
}

.prizes_inner::before {
	background: url(/assets/images/pc/deco_prizes1_pc.svg) no-repeat center center/cover;
	height: 148px;
	top: -148px;
	width: 365px;
}

.prizes_head {
	font-size: 16px;
}

.prizes_container {
	gap: 0;
	margin-top: 80px;
}

.prizes_card {
	border-radius: 24px;
	font-size: 20px;
}

.prizes_card:nth-child(1) {
	width: 44.7154471545%;
}

.prizes_card:nth-child(2) {
	margin-left: 32px;
	width: 44.7154471545%;
}

.prizes_card:nth-child(n+3) {
	margin-top: 80px;
	width: 28.4552845528%;
}

.prizes_card:nth-child(n+4) {
	margin-left: 36px;
}

.prizes_card_number {
	height: 100px;
	top: -50px;
	width: 100px;
}

.prizes_card:nth-child(n+3) .prizes_card_number {
	height: 80px;
	top: -40px;
	width: 80px;
}

.prizes_card_body {
	border-radius: 0 0 24px 24px;
	height: 120px;
	padding: 32px 0;
}

.prizes_card:nth-child(n+3) .prizes_card_body {
	border-radius: 0 0 16px 16px;
	height: 80px;
}

.prizes_card::after {
	border-radius: 0 0 24px 0;
	height: 72px;
	width: 72px;
}

.prizes_card:nth-child(n+3):after {
	border-radius: 0 0 16px 0;
	height: 56px;
	width: 56px;
}

.prizes_card_image {
	border-radius: 24px 24px 0 0;
}

.prizes_card:nth-child(n+3) .prizes_card_image {
	border-radius: 16px 16px 0 0;
}

.prizes_bg {
	margin-top: 0;
}

.prizes_bg_image img {
	-o-object-fit: cover;
	-o-object-position: center bottom;
	min-height: 500px;
	object-fit: cover;
	object-position: center bottom;
}

.section_title_image {
	height: 48px;
	width: 48px;
}

.section_title_en {
	font-size: 20px;
}

.section_title_jp {
	border-bottom: 8px solid #FFEE56;
	font-size: 32px;
	font-weight: 500;
	margin: 8px auto 0;
	padding-bottom: 8px;
}

.section_title_about {
	margin-top: -80px;
}

.section_title_prizes {
	top: -120px;
}

.spot::before {
	background: url(/assets/images/pc/wave_spot.svg) repeat-x center/contain;
	height: 120px;
	top: -95px;
}

.spot::after {
	background: url(/assets/images/pc/wave_spot2.svg) repeat-x center/contain;
	height: 120px;
}

.spot_container {
	padding-bottom: 80px;
}

.spot_title {
	font-size: 40px;
	left: calc(50% - 400px);
	letter-spacing: 5px;
	line-height: 1;
	padding-left: 0;
	position: absolute;
	top: 64px;
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: vertical-lr;
}

.spot_title::before {
	height: 56px;
	left: -6px;
	top: -65px;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	width: 56px;
}

.spot_slider {
	left: calc(50% - 320px);
	margin-left: auto;
	position: relative;
}

.spot_slide img {
	height: 240px;
}

.spot_name {
	font-size: 20px;
	margin-top: 24px;
}

.spot_text {
	font-size: 16px;
	height: 222px;
	margin-top: 24px;
	padding: 0 32px;
}

.spot_bg {
	gap: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 64px;
	position: relative;
}

.spot_bg_image {
	margin: 0;
	width: 350px;
}

.spot_bottom_text {
	font-size: 14px;
	margin: 0;
}

.swiper-button-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-left: -30px;
	margin-top: -30px;
	max-width: 775px;
}

}

@media screen and (min-width: 1200px) {

.about {
	padding-bottom: 120px;
}

.about_contents {
	max-width: 848px;
	padding: 40px 114px;
}

.about_bg_1 {
	left: calc(50% + 480px);
	top: -80px;
	width: 100px;
}

.about_bg_2 {
	height: 480px;
	right: calc(50% + 550px);
	width: 480px;
}

.about_bg_3 {
	height: 480px;
	left: calc(50% + 555px);
	width: 480px;
}

.about_bg_4 {
	display: block;
	right: calc(50% + 500px);
	top: -20px;
}

.about_image {
	height: 100px;
	width: 134px;
}

.about_bottom_1 {
	left: auto;
	right: calc(50% + 430px);
	top: -470px;
	width: 427px;
}

.about_bottom_2 {
	left: calc(50% + 500px);
	top: -200px;
}

.about_bottom_3 {
	left: calc(50% + 380px);
	top: -70px;
	width: 308px;
}

.about_bottom_4 {
	left: calc(50% + 460px);
	top: -190px;
}

.about_bottom_5 {
	width: 890px;
}

.button_spot {
	font-size: 20px;
	padding: 10px 40px;
}

.how_step h3 {
	font-size: 20px;
}

.how_step p {
	font-size: 16px;
}

.prizes::before {
	display: block;
	right: calc(50% + 200px);
}

.prizes::after {
	display: block;
	left: calc(50% + 200px);
}

.prizes_inner {
	max-width: 1024px;
}

.prizes_card::after {
	border-radius: 0 0 24px 0;
	height: 100px;
	width: 100px;
}

.spot::before {
	background-image: url(/assets/images/pc/wave_spot.svg);
	background-size: 1512px 120px;
	height: 120px;
	top: -118px;
}

.spot_title {
	left: calc(50% - 500px);
}

.spot_slider {
	left: calc(50% - 420px);
}

.spot_bg {
	gap: 81px;
}

.spot_bg_image {
	margin: 0;
	width: 495px;
}

.spot_bottom_text {
	font-size: 16px;
}

.swiper-button-box {
	max-width: 944px;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.2666666667vw;
}

}


/*# sourceMappingURL=styles.css.map */
