@use "global" as *;

//ヘッダー
.header {
  width: 100%;
  height: 64px;
  background-color: #fff;
}

.header_inner {
  max-width: 1200px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(20);
}

.header_logo {
  width: 210px;
  height: 27px;
}

.header_nav {
  height: 64px;
  display: none;

  @include mq("lg") {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.header_nav_item {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  height: 19px;
  place-content: center;
  transition: color 0.4s ease;
}

.header_nav_item:hover {
  color: $sub-color;
  border-bottom: 1px solid $sub-color;
} 

// ハンバーガーボタン
.header_button_sp {
  width: 32px;
  height: 28px;
  position: relative;
  display: block;

  @include mq("lg") {
    display: none;
  }
}

.header_button_sp span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 8px;
  background: $font-color-1;
  transition: all 0.4s ease;
}

.header_button_sp span:nth-of-type(1) {
  top: 0px;
}

.header_button_sp span:nth-of-type(2) {
  top: 13px;
}

.header_button_sp span:nth-of-type(3) {
  top: 26px;
}

.header_button_sp.active span:nth-of-type(1) {
  top: 50%;
  transform: rotate(-45deg);
}

.header_button_sp.active span:nth-of-type(2) {
  opacity: 0;
}

.header_button_sp.active span:nth-of-type(3) {
  top: 50%;
  transform: rotate(45deg);
}

