@use "global" as *;

//ヘッダー
.header {
  width: 100%;
  height: 64px;
  background-color: #fff;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  padding: 18px 16px;
}

.header_logo {
  width: 210px;
  height: 27px;
}

// ハンバーガーボタン
.header_button_sp {
  width: rem(32);
  height: rem(28);
  position: relative;
  display: block;
}

.header_button_sp span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 8px;
  background: $font-color-1;
  transition: all 0.4s ease;
}

.header_button_sp span:nth-of-type(1) {
  top: 0px;
}

.header_button_sp span:nth-of-type(2) {
  top: 13px;
}

.header_button_sp span:nth-of-type(3) {
  top: 26px;
}

.header_button_sp.active span:nth-of-type(1) {
  top: 50%;
  transform: rotate(-45deg);
}

.header_button_sp.active span:nth-of-type(2) {
  opacity: 0;
}

.header_button_sp.active span:nth-of-type(3) {
  top: 50%;
  transform: rotate(45deg);
}

